<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Superhero Sightings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Hero Education and Relationship Organization (HERO)</h1>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="heroVillains" class="btn btn-outline-primary btn-lg">Superheroes</a>
            </div>
            <div class="col text-center m-3">
                <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
            </div>
            <div class="col text-center m-3">
                <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Edit Location</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="editLocation" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" id="name" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.name} : ${location.name}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!locationErrors.isEmpty()}" th:each="error : ${locationErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'name'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'name'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            Description</label>
                        <div class="col-9">
                            <textarea type="text" name="description" id="description" class="form-control"
                                th:text="${badLocation} != null ? ${badLocation.description} : ${location.description}"></textarea>
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!locationErrors.isEmpty()}" th:each="error : ${locationErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'description'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'description'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="latitude" class="col-3 col-form-label">
                            Latitude</label>
                        <div class="col-9">
                            <input type="text" name="latitude" id="latitude" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.latitude} : ${location.latitude}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!locationErrors.isEmpty()}" th:each="error : ${locationErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'latitude'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'latitude'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="longitude" class="col-3 col-form-label">
                            Longitude</label>
                        <div class="col-9">
                            <input type="text" name="longitude" id="longitude" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.longitude} : ${location.longitude}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!locationErrors.isEmpty()}" th:each="error : ${locationErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'longitude'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'longitude'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="streetNumber" class="col-3 col-form-label">
                            Street Number</label>
                        <div class="col-9">
                            <input type="text" name="streetNumber" id="streetNumber" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.address.streetNumber} : ${location.address.streetNumber}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!addressErrors.isEmpty()}" th:each="error : ${addressErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'streetNumber'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'streetNumber'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="streetName" class="col-3 col-form-label">
                            Street Name</label>
                        <div class="col-9">
                            <input type="text" name="streetName" id="streetName" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.address.streetName} : ${location.address.streetName}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!addressErrors.isEmpty()}" th:each="error : ${addressErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'streetName'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'streetName'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-3 col-form-label">
                            City</label>
                        <div class="col-9">
                            <input type="text" name="city" id="city" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.address.city} : ${location.address.city}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!addressErrors.isEmpty()}" th:each="error : ${addressErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'city'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'city'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stateProvince" class="col-3 col-form-label">
                            State Province</label>
                        <div class="col-9">
                            <input type="text" name="stateProvince" id="stateProvince" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.address.stateProvince} : ${location.address.stateProvince}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!addressErrors.isEmpty()}" th:each="error : ${addressErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'stateProvince'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'stateProvince'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="zipPostalCode" class="col-3 col-form-label">
                            ZIP Postal Code</label>
                        <div class="col-9">
                            <input type="text" name="zipPostalCode" id="zipPostalCode" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.address.zipPostalCode} : ${location.address.zipPostalCode}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!addressErrors.isEmpty()}" th:each="error : ${addressErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'zipPostalCode'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'zipPostalCode'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="country" class="col-3 col-form-label">
                            Country</label>
                        <div class="col-9">
                            <input type="text" name="country" id="country" class="form-control"
                                th:value="${badLocation} != null ? ${badLocation.address.country} : ${location.address.country}" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!addressErrors.isEmpty()}" th:each="error : ${addressErrors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'country'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'country'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <input type="hidden" name="locationID" th:value="${location.locationID}" />
                    <button type="submit" class="btn btn-primary">Edit Location</button>
                </form>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>