<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Superhero Sightings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/">Hero Education and Relationship Organization (HERO)</a></h1>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="heroVillains" class="btn btn-outline-primary btn-lg">Superheroes</a>
            </div>
            <div class="col text-center m-3">
                <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
            </div>
            <div class="col text-center m-3">
                <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Superhero (Supervillain)</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addHeroVillain" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" id="name" class="form-control"
                                th:value="${badHeroVillain} != null ? ${badHeroVillain.name} : ''" />
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'name'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'name'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="isHero" class="col-3 col-form-label">
                            Is Hero?</label>
                        <div class="col-9">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="isHero"
                                    value="true"
                                    th:checked="${badHeroVillain} != null ? ${badHeroVillain.isHero} : false">
                                <label class="form-check-label" for="inlineCheckbox1">&nbsp;&nbsp;Yes, a Hero!</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            Description</label>
                        <div class="col-9">
                            <textarea name="description" id="description" class="form-control"
                                th:text="${badHeroVillain != null ? badHeroVillain.description : ''}"></textarea>
                        </div>
                    </div>
                    <!-- VALIDATION -->
                    <div class="row" th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'description'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'description'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="superpower" class="col-3 col-form-label">
                            Superpower</label>
                        <div class="col-9">
                            <select id="superpower" name="superpowerID" class="form-control"
                                th:if="${badHeroVillain != null}">
                                <option selected value> -- select an option -- </option>
                                <option th:each="superpower : ${superpowers}" th:value="${superpower.superpowerID}"
                                    th:text="${superpower.name}"
                                    th:selected="${badHeroVillain.superpower != null} ? ${badHeroVillain.superpower.equals(superpower)} : false">
                                    Superpower Name</option>
                            </select>
                            <select id="superpower" name="superpowerID" class="form-control"
                                th:if="${badHeroVillain == null}">
                                <option selected value> -- select an option -- </option>
                                <option th:each="superpower : ${superpowers}" th:value="${superpower.superpowerID}"
                                    th:text="${superpower.name}">
                                    Superpower Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
                        <div class="col-3" th:if="${error.propertyPath.toString()} == 'superpower'"></div>
                        <div class="col-9">
                            <p class="alert alert-danger" th:if="${error.propertyPath.toString()} == 'superpower'"
                                th:text="${error.message}">Error
                                message</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="organizations" class="col-3 col-form-label">
                            Organizations</label>
                        <div class="col-9">
                            <select multiple id="organizations" name="organizationIDs" class="form-control">
                                <option th:each="organization : ${organizations}"
                                    th:value="${organization.organizationID}" th:text="${organization.name}"
                                    th:selected="${badHeroVillain} != null ? ${badHeroVillain.organizations.contains(organization)} : false">
                                    Organization Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="image" class="col-3">
                            Upload Image: </label>
                        <div class="col-9">
                            <input type="file" name="file" id="image" class="form-control-file" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Hero (Villain)</button>
                </form>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Hero (Villain) ID</th>
                            <th>Name</th>
                            <th>Is Hero</th>
                            <th>Superpower</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="heroVillain: ${heroVillains}">
                            <td th:text="${heroVillain.heroVillainID}">Hero (Villain) ID</td>
                            <td th:text="${heroVillain.name}">Name</td>
                            <td th:text="${heroVillain.isHero}">Is Hero</td>
                            <td th:text="${heroVillain.superpower != null} ? ${heroVillain.superpower.name} : 'none'">
                                Superpower</td>
                            <td><a href="#"
                                    th:href="@{/heroVillainDetail(heroVillainID=${heroVillain.heroVillainID})}">Details</a>
                            </td>
                            <td><a href="#"
                                    th:href="@{editHeroVillain(heroVillainID=${heroVillain.heroVillainID})}">Edit</a>
                            </td>
                            <td><a href="#"
                                    th:href="@{deleteHeroVillain(heroVillainID=${heroVillain.heroVillainID})}">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>