<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Superhero Sightings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/">Hero Education and Relationship Organization (HERO)</a></h1>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="heroVillains" class="btn btn-outline-primary btn-lg">Superheroes</a>
            </div>
            <div class="col text-center m-3">
                <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
            </div>
            <div class="col text-center m-3">
                <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>

        <div class="row m-4">
            <div class="col-12 text-center">
                <h4>Welcome to the HERO sightings page!</h4><br>
                
            </div>

            <div class="col-12">
                <h5>This site displays detailed information about any superhero (and supervillain) from the very moment
                    you report them. <br>
                    <br>Click <strong>Sightings</strong> to report your superhero sighting.
                    <br>
                    <br>Click the top of the page <strong>(HERO)</strong> to navigate back to this page.
                </h5>
            </div>

        </div>

        <div class="row m-4">
            <div class="col-12 text-center">
                <h4>Top 10 Latest Sightings Reported:</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr th:each="sighting: ${sightings}">
                            <td><a href="#" th:if="${sighting.location.image} != null" th:href="@{/sightingDetail(sightingID=${sighting.sightingID})}"><img
                                        th:src="'/locationImage/' + ${sighting.location.locationID}" alt="" width="250"
                                        height="200" /></a></td>
                            <td>
                                <a href="#" th:href="@{/sightingDetail(sightingID=${sighting.sightingID})}">
                                    <p
                                        th:text="${sighting.heroVillain.name} + ' was spotted @ ' + ${sighting.location.name} + ' on ' + ${sighting.date}">
                                    </p>
                                </a>
                            </td>
                            <td><a href="#" th:if="${sighting.heroVillain.image} != null" th:href="@{/sightingDetail(sightingID=${sighting.sightingID})}"><img
                                        th:src="'/heroVillainImage/' + ${sighting.heroVillain.heroVillainID}" alt=""
                                        width="250" height="200" /></a></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>