<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Superhero Sightings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Hero Education and Relationship Organization (HERO)</h1>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="heroVillains" class="btn btn-outline-primary btn-lg">Superheroes</a>
            </div>
            <div class="col text-center m-3">
                <a href="superpowers" class="btn btn-outline-primary btn-lg">Superpowers</a>
            </div>
            <div class="col text-center m-3">
                <a href="organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col-3 text-center m-3">
                <span class="h3">Add Organization</span>
            </div>
            <div class="col-7 text-center m-3">
                <form action="addOrganization" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-3 col-form-label">
                            Name</label>
                        <div class="col-9">
                            <input type="text" name="name" id="name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-3 col-form-label">
                            Description</label>
                        <div class="col-9">
                            <textarea type="text" name="description" id="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="streetNumber" class="col-3 col-form-label">
                            Street Number</label>
                        <div class="col-9">
                            <input type="text" name="streetNumber" id="streetNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="streetName" class="col-3 col-form-label">
                            Street Name</label>
                        <div class="col-9">
                            <input type="text" name="streetName" id="streetName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="city" class="col-3 col-form-label">
                            City</label>
                        <div class="col-9">
                            <input type="text" name="city" id="city" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="stateProvince" class="col-3 col-form-label">
                            State Province</label>
                        <div class="col-9">
                            <input type="text" name="stateProvince" id="stateProvince" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="zipPostalCode" class="col-3 col-form-label">
                            ZIP (Postal Code)</label>
                        <div class="col-9">
                            <input type="text" name="zipPostalCode" id="zipPostalCode" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="country" class="col-3 col-form-label">
                            Country</label>
                        <div class="col-9">
                            <input type="text" name="country" id="country" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-3 col-form-label">
                            Phone</label>
                        <div class="col-9">
                            <input type="tel" name="phone" id="phone" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-3 col-form-label">
                            Email</label>
                        <div class="col-9">
                            <input type="email" name="email" id="email" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="heroVillains" class="col-3 col-form-label">
                            Heroes (Villains)</label>
                        <div class="col-9">
                            <select multiple id="heroVillains" name="heroVillainIDs" class="form-control">
                                <option th:each="heroVillain : ${heroVillains}"
                                    th:value="${heroVillain.heroVillainID}" th:text="${heroVillain.name}">
                                    Name</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Organization</button>
                </form>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Organization ID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Details</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="organization: ${organizations}">
                            <td th:text="${organization.organizationID}">Superpower ID</td>
                            <td th:text="${organization.name}">Name</td>
                            <td th:text="${organization.address.city + ', ' + organization.address.stateProvince}">
                                Address</td>
                            <td th:text=" ${organization.phone}">Phone</td>
                            <td th:text=" ${organization.email}">Email</td>
                            <td><a href="#" th:href="@{/organizationDetail(organizationID=${organization.organizationID})}">Details</a></td>
                            <td><a href="#" th:href="@{/editOrganization(organizationID=${organization.organizationID})}">Edit</a></td>
                            <td><a href="#" th:href="@{/deleteOrganization(organizationID=${organization.organizationID})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>